body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
}

#main {
    width: 600px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    box-shadow: 1px 1px 1px gray;
    box-shadow: -1px -1px 1px gray;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

.users {
    float: right;
    position: absolute;
    margin-left: 30%;
}
.messages{
    width: 400px;
}

.messageBold {
    font-weight: bold;
    color: blue;
}